/*!
 * @copyright Copyright &copy; Kartik Visweswaran, Krajee.com, 2014
 * @version 1.4.0
 *
 * Styling for the dependent-dropdown JQuery plugin. 
 * 
 * For more JQuery plugins visit http://plugins.krajee.com
 * For more Yii related demos visit http://demos.krajee.com
 */
.kv-loading, .select2-container.kv-loading .select2-chosen {
    background-image: url('../img/loading.gif');
    background-position: right 30px center;
    background-repeat: no-repeat;
    cursor: wait;
    opacity: 0.6;
}

.select2-container.kv-loading .select2-chosen {
    background-position: right center;
    margin-right: 15px!important;
}