/*!
 * @copyright Copyright &copy; Kartik Visweswaran, Krajee.com, 2014
 * @version 1.3.0
 *
 * Styling for the dependent-dropdown JQuery plugin. 
 * 
 * For more JQuery plugins visit http://plugins.krajee.com
 * For more Yii related demos visit http://demos.krajee.com
 */

.kv-loading {
    background-image: url('../img/loading.gif');
    background-position: right 30px center;
    background-repeat: no-repeat;
    z-index: 15000;
    cursor: wait;
    opacity: 0.6;
}